body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.calculator-grid {
    display: grid;
    /* This creates 4 equal columns */
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    /* Space between buttons */
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    max-width: 320px;
    width: 100%;
}

button {
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: #333;
    /* Dark Grey */
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}


/* Hover effect for all buttons */

button:hover {
    filter: brightness(1.3);
}


/* Click effect for all buttons */

button:active {
    transform: scale(0.95);
}


/* 4. Operator Buttons (+ - * / . %) */

.operator-btn {
    background-color: #ff9f0a;
    /* iOS Orange */
    color: #fff;
    font-size: 1.5rem;
}


/* 5. Clear Button (AC) */

.clr-btn {
    background-color: #ff453a;
    /* Red */
    color: white;
}

button:last-child {
    background-color: #30d158;
    /* Green */
    color: white;
}

.result-container {
    grid-column: span 4;
    background: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    box-shadow: -5px 10px 10px rgb(198, 197, 197);
    /* word-wrap: break-word; */
    min-height: 30px;
    min-width: 290px;
}